*.uuid
celebi.txt
*.scm
Noita.desktop
applications/GWENT The Witcher Card Game.desktop
applications/wine-extension-chm.desktop
applications/wine-extension-hlp.desktop
applications/wine-extension-msp.desktop
applications/wine-extension-vbs.desktop
applications/userapp-Thunderbird-HBQJC3.desktop
applications/userapp-Thunderbird-V5MHC3.desktop
applications/userapp-Thunderbird-X1PGC3.desktop
applications/userapp-Thunderbird-Z5SIC3.desktop
applications/mimeinfo.cache
