*.uuid
celebi.txt
*.scm
Noita.desktop
applications/userapp-Floorp-QSB6P2.desktop
applications/GWENT The Witcher Card Game.desktop
applications/userapp-Telegram Desktop-8OA5R2.desktop
applications/userapp-Telegram Desktop-MTFOR2.desktop
applications/userapp-Thunderbird-7E4RQ2.desktop
applications/userapp-Thunderbird-LS4VQ2.desktop
applications/mimeinfo.cache
